body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 6px;
    border: solid #bababa;
    border-width: 1px 0;
}

th {
    padding: 5px;
    background-color: #ddd;
}
